.top20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: fit-content;
    font-size: 15px;
    color: white;
    background-image: linear-gradient(to bottom, #0076c9 0%, #1c9bd4 100%);

    h2 {
        justify-self: center;
        position: relative;
        padding: 20px;
        margin: 20px 0;

        &::after {
            position: absolute;
            bottom: 0;
            left: 35%;
            content: '';
            width: 100px;
            border-bottom: 3px solid white;
        }
    }

    .cities,
    .outre-mer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-items: center;
        width: 1140px;

        ul {
            margin: 0;
            padding: 0;
            line-height: 1.5;
            list-style-type: none;

            li {
                cursor: pointer;
            }
        }
    }

    .social_icons {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        font-size: 21px;

        .social_round {
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $blueLight;
            transition: all .3s ease-in-out;
            cursor: pointer;

            &:hover {
                background-color: $pink;
            }
        }
    }

    .mini_menus {
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 1140px;
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;

            li {
                display: inline;
                padding: 5px 10px;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &::before {
                    content: "\f054";
                    font-family: "FontAwesome";
                    margin-right: 3px;
                    font-size: 12px;
                    color: $pink;
                }

                &:hover {
                    color: $pink;
                }
            }
        }
    }
}

    .footer_logos {
        display: flex;
        justify-content: center;
        background-color: white;

        .logo {
            padding: 30px;
            height: 80px;
        }
    }

    .copyright {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 15px;
        color: white;
        background-color: $blueLight;

        a {
            color: white;

            &:hover {
                text-decoration: underline;
                color: white;
            }
        }
    }