// * {
//     border: 1px dashed red;
// }

#header_top {
    padding: 12px 0;

    #header_top_left {
        display: flex;
        justify-content: start;
        padding: 0;

        .marianne,
        .logo {
            float: left;
            width: auto;
            margin: 0;
            margin-right: 10px;
        }

    }

    #header_top_middle {
        margin-right: 15px;
        margin-left: 0;
        justify-content: start;
    }

    #header_top_right {
        position: relative;
        align-items: center;
        display: flex;
        font-size: 22px;
        color: grey;

        #tooltip_vigilance {
            display: none;
            opacity: 0;
            z-index: 600;
            position: absolute;
            width: 200px;
            top: 60px;
            left: 30%;
            background-color: $yellow;
            border-radius: 10px;
            color: black;
            transition: all .3s ease-in-out;

            .fas {
                color: black;
                margin-top: 10px;
                margin-bottom: 0;
            }

            p {
                position: relative;
                font-size: 15px;
                text-transform: uppercase;
                margin: 10px 0;
            }

            &::before {
                content: '';
                position: absolute;
                top: -7px;
                left: 45%;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid $yellow;
                background-color: transparent;
            }
        }
    }

    #socialmedia {
        display: flex;
        flex-wrap: nowrap;

        * {
            margin-left: 10px;
            padding: 10px;
            font-size: 18px;
            transition: all .3s ease-in-out;

            &:hover {
                cursor: pointer;
                color: $pink;
            }
        }
    }

    #carte_vigilance {
        margin: 0 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .block_vigilance {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 0;

        .fa-exclamation-triangle {
            color: $yellow;
            font-size: 18px;
        }

        .label {
            color: $blue;
            max-width: 60px;
            font-size: 13px;
            font-weight: 600;
            font-family: "Quicksand", sans-serif;
            margin: 5px 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#header_middle {
    z-index: 557;
    position: relative;
    width: 100%;

    .block {
        width: 100%;
        text-align: start;
        justify-content: start;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 5px 0;

        li a {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-wrap: nowrap;
            margin-right: 10px;

            .fa {
                margin-right: 5px;
            }

            p {
                font-weight: 600;
                text-transform: uppercase;
                font-family: "Quicksand", sans-serif;
                font-size: 12px;
                margin-left: 5px;
            }
        }

    }
}

#header_bottom {
    position: relative;
    width: 100%;
    background-color: $blueLight;
    font-size: 12px;
    color: white;
    padding: 3px 0;

    .block_bottom_nav {
        #add_city {
            display: flex;
            flex-direction: row;
            align-items: center;

            .fa-plus-circle {
                padding-left: 10px;
                color: white;
                font-size: 20px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.fa-angle-down {
    font-size: 14px;
    margin-left: 7px;
    margin-right: auto;
    justify-self: start;
}

#burger_menu * {
    font-size: 18px;
    margin: 0 10px;
}

#menu_climat,
#menu_actus {
    display: none;
}

.menu_container {
    // display: flex;
    position: fixed;
    justify-content: center;
    left: 0;
    width: 100vw;
    background-color: white;
    border: 1px solid $lightgrey;

    .menu-grid {
        display: grid;
        gap: 15px;
        justify-items: start;
        align-items: start;
        // border: 3px solid pink;
        width: 100%;
        color: $blue;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
    }

    .menu-flex {
        display: flex;
        justify-items: start;
        align-items: start;
        // border: 3px solid pink;
        width: 100%;
        color: $blue;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
    }

    .submenu {
        position: relative;
        height: auto;
        align-self: stretch;
        // border: 3px dashed pink;
    }

    .menu_row {
        flex-direction: row;
        width: 100%;
        flex: 1;
    }

    .menu_col {
        flex-direction: column;
        flex: 1;
    }


    .title_menu {
        width: 95%;
        margin: 10px;
        margin-left: 0;
        padding: 10px;
        padding-left: 0;
        padding-bottom: 20px;
        // color: $blue;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 2px solid $blueLight;
        transition: all .3s ease-in-out;

        &:hover {
            border-bottom: 2px solid $pink;
        }
    }

    .text_menu {
        width: 100%;
        padding: 10px 0;
        line-height: .5;
        font-size: 16px;
        color: $blueLight;
    }
}

@media screen and (max-width:325px) {}

@media screen and (max-width:656px) {}

@media screen and (min-width:1294px) and (min-height: 630px) {}

@media screen and (min-width:1720px) and (min-height: 980px) {}

@media screen and (min-width:1600px) {}