.alert {
    color: $pink;
    cursor: pointer;

    &:hover>.fa-arrow-right {
        animation: arrow 1s ease-in-out infinite;
    }

    .fa {
        font-size: 20px;
    }

    .fa-arrow-right {
        position: relative;
        left: 0;
    }

    .alert_content {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;

        * {
            padding-right: 10px;
        }
    }

}

.vigilance_main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $greyLight;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &:hover>.vigilance_btn .fa {
        animation: arrow 1s ease-in-out infinite;
    }

    .vigilance_text {
        background-color: $yellow;
        display: flex;
        font-size: 13px;
        padding: 8px;
        margin: 0;
        width: 80%;

        .fa {
            font-size: 15px;
            margin-left: auto;
            padding: 0 10px;
        }

        span {
            margin-right: auto;
        }
    }

    .vigilance_btn {
        display: flex;
        justify-content: center;
        flex: 1;
        background-color: white;
        margin: 0;
        padding: auto;
        color: $blueLight;

        .fa {
            position: relative;
            left: 0;
            margin-left: 5px;
        }
    }
}

.block_main {

    .main_title {
        color: $blueLight;
        font-size: 21px;
    }

    .menu_carte {
        display: flex;

        p {
            font-weight: 700;
            font-size: 13px;
            text-transform: uppercase;
            color: $blueLight;
            margin-right: 2%;
            padding: 5px 10px;

            &.is-active {
                border-radius: 5px;
                color: white;
                background-color: $pink;

                &:hover {
                    color: white;
                    cursor: default;
                }
            }

            &:hover {
                color: $pink;
                cursor: pointer;
            }
        }
    }

    .carte {
        position: relative;
        width: 100%;
        height: 550px;
        border-radius: 5px;
        padding: 5px;
        background-size: cover;
        background-position: right;
        background-image: url("../assets/img/carte/map_prev.png");
        margin-bottom: 20px;

        .submenu_carte {
            display: block;
            width: fit-content;
            border-radius: 5px;
            padding: 10px;
            font-size: 13px;
            color: $blue;
            background-color: white;

            .carte_day {
                list-style: none;
                margin: 0;
                padding: 0;

                .day {
                    font-weight: 700;
                }
            }

            .is-active {
                font-weight: 700;
                color: $pink;
            }

            * {
                cursor: pointer;
                line-height: 1.4;
            }
        }
    }

    .legende_carte {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex: 1;
        margin: 5px;
        border-radius: 5px;
        overflow: hidden;
        // width: fit-content;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        background-color: $blueLight;

        .legende_carte_ico {
            width: 20px;
            margin: 0 10px;
        }

        div {
            padding: 0 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .legende-active {
            color: $blueLight;
            background-color: white;
        }
    }
}

.article {
    margin-bottom: 20px;

    h2 {
        color: $blueLight;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;

        .fa {
            margin-right: 10px;
            color: $pink;
            font-size: 22px;
        }
    }

    .article_img {
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        width: fit-content;
        height: fit-content;
        cursor: pointer;

        img {
            width: 101%;
            height: 101%;
        }


        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 5px;
            overflow: hidden;
            width: 100%;
            height: 98%;
            background-color: rgba(0, 0, 0, .3);
        }

        &::after {
            position: absolute;
            top: 42%;
            left: 45%;
            content: "\f04b";
            font-family: FontAwesome;
            font-size: 35px;
            color: white;
        }
    }

    .article_txt {
        p {
            line-height: 1.5;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        .article_read {
            text-align: end;
            font-family: "Roboto", sans-serif;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            color: $pink;
            cursor: pointer;

            .fa {
                margin-left: 5px;
            }

            &:hover {
                color: $blueSuperLight;
            }
        }
    }
}

.cards_article {
    .article_img {
        width: 100%;

        img {
            width: 100%;
        }

        &::before {
            background-color: transparent;
        }

        &::after {
            content: '';
        }
    }
}

.cards_article_videos {
    color: white;
    background-color: $greyDark;

    .row_main {
        grid-template-columns: 1fr 1fr;
    }

    .article_img {

        &::before {
            background-color: transparent;
        }

        &::after {
            content: '';
        }

    }

    h2 {
        margin: 0 0 10px 0;
        color: white;
    }

    .article_menu {
        font-size: 14px;

        nav {
            display: flex;
            border-bottom: 1px solid grey;
            // justify-content: space-around;

            .nav_article_video {
                position: relative;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    width: 100%;
                    transition: all .3s ease-in-out;
                    border-bottom: 3px solid $pink;
                }

                &:hover>::after {
                    // width: 100%;
                    // border-bottom: 10px solid $pink;
                    // content: 'aaaa';
                    transform: translateX(50px) scaleX(50%);
                }

                .fa {
                    margin-right: 5px;
                }
            }


            // .nav-active {
            //     border-bottom: 3px solid $pink;
            // }
        }

        .article_menu_content {
            list-style-type: none;
            margin: 0;
            padding: 20px 0;

            li {
                display: grid;
                grid-template-columns: 1fr 4fr;
                margin: 0 0 20px 0;
                padding: 0;
                cursor: pointer;

                &:hover>.img_container img {
                    transform: scale(160%);
                }

                .img_container {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        transform: scale(140%);
                        transition: all .3s ease-in-out;
                    }
                }

                p {
                    margin-left: 10px;
                }
            }

        }

    }
}

.card {
    display: grid;
    grid-template-rows: 150px 1fr;
    position: relative;
    // margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid $greyLight;
    cursor: pointer;
    height: fit-content;
    pointer-events: none;

    &:hover>.card_txt .pastille_arrow {
        background-color: $pink;
    }

    &:hover>.img_container img {
        transform: scale(110%);
    }

    &:hover>.card_txt .suite {
        color: $pink;
    }

    .img_container {
        pointer-events: auto;

        img {
            width: 100%;
            height: 100%;
            transition: all .3s ease-in-out;

        }

    }

    .pastille {
        position: absolute;
        top: 0;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        background-color: $pink;
        color: white;
        width: fit-content;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .card_txt {
        position: relative;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: grey;
        background-color: white;
        pointer-events: auto;

        strong {
            color: $blue;
            padding-right: 65px;
        }

        .pastille_arrow {
            position: absolute;
            top: -20px;
            right: 0;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $blueLight;
            color: white;
            padding: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }

        .date {
            margin-top: 0;
            color: $blueSuperLight;
        }

        .suite {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: -10px 0;
            font-size: 11px;
            color: $blueSuperLight;
            transition: all .3s ease-in-out;

            * {
                margin-left: 5px;
            }
        }
    }
}

.card_solo {
    grid-template-rows: 1fr;
}

.card_multi {

    .dots {
        display: flex;
        justify-content: center;
        cursor: default;
    }

    .dot {
        margin: 0 10px 10px 0;
        padding: 3px;
        border: 1px solid $greyLight;
        border-radius: 50%;
        pointer-events: initial;
        cursor: pointer;

        &:hover {
            background-color: $pink;
        }
    }

    .dot-active {
        background-color: $pink;
        border: 2px solid $pink;
    }
}

.minicard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-self: start;
    justify-content: start;
    border-radius: 5px;
    border: 1px solid $greyLight;
    overflow: hidden;
    height: 80px;
    cursor: pointer;

    &:hover>.img_container img {
        transform: scale(110%);
    }

    .img_container {
        display: flex;
        justify-content: center;
        // align-items: flex-start;
        overflow: hidden;

        img {
            align-self: flex-end;
            height: 100%;
            transition: all .3s ease-in-out;
        }
    }

    .minicard_txt {
        padding: 10px;
        color: $blue;
        background-color: white;
        padding-bottom: 0;
        font-size: 14px;

        .minicard_date {
            color: $blueSuperLight;
        }
    }
}

// Cards space
#block_card3 {
    grid-row: 1/3;
    grid-column: 3;
}

#block_article {
    grid-row: 3;
    grid-column: 1/3;
}

#block_article_video {
    grid-row: 5;
    grid-column: 1/4;
    margin: 10px -20px;
    padding: 20px;
}

// Utils
.row_full {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

#btn_more {
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid $blueLight;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: $blueLight;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $blueLight;
    }

    * {
        margin: 10px;
    }
}