
$blue: #003661;
$blueLight: #145e9a;
$blueSuperLight: #1c9bd4;;
$pink: #db0084;
$yellow: #ffb82b;
$lightgrey: #ccc;

// animations
@keyframes arrow {
    0% {
        left: 0;
    }

    50% {
        left: 10px;
    }

    100% {
        left: 0;
    }
}