
$blue: #003661;
$blueLight: #145e9a;
$blueSuperLight: #1c9bd4;;
$pink: #db0084;
$yellow: #ffb82b;
$yellowDark: #ffaa00;
$greyDark: #333;
$greyLight: rgb(224, 224, 224);
$greySuperLight: rgb(245, 245, 245);

// animations
// arrow right moving
@keyframes arrow {
    0% {
        left: 0;
    }

    50% {
        left: 10px;
    }

    100% {
        left: 0;
    }
}