@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "./variables";
@import "./header";
@import "./main";


html,
body,
#header,
#sidebar_nav,
#sidebar_overlay,
#main {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background-color: #eee;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

// SECTIONS
#header {
    position: -webkit-sticky;
    position: sticky;
    top: -110px;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all .3s ease-in-out;
    transform: translateY(0px);
    background-color: white;
}

#sidebar_page {
    display: block;
    position: fixed;
    width: 320px;
    top: 0;
    bottom: 0;
    right: -320px;
    z-index: 1001;
    background-color: white;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#sidebar_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 320px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba($color: #000000, $alpha: .5);
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

#main {
    margin: 30px 0;

    section {
        margin: 15px 0;
        background-color: white;
        padding: 0 20px;
        border-radius: 5px;
    }
}

#footer {
    margin-top: 20px;
}

// UTILS

a {
    color: $blue;
    transition: all .3s ease-in-out;
    text-decoration: none;

    &:hover {
        color: $pink;
    }
}

.is-active {
    * {
        color: $pink;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.col_main {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: stretch;

}

.spacer {
    margin: 10px;
}

.container {
    max-width: 1140px;
    margin-right: auto !important;
    margin-left: auto !important;
    position: relative;
}

.block_search_form {
    display: flex;
    border: solid 1px #dee2e6;
    border-radius: 5px;
    width: 460px;
    max-width: 100%;
    margin-right: 20px;
    margin-left: 0;

    .search_form_input {
        flex-grow: 2;
        height: 45px;
        padding-left: 15px;
        font-size: 12px;
        font-weight: 500;
        color: $blue;
        border: none;

        &:focus {
            outline: none;
        }
    }

    .search_form_submit {
        background: transparent;
        border: none;
        padding: 10px;
        font-size: 16px;
        color: grey;

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }
}

.select {
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}